/*
    CORES
    #003049
    #d62828
    #f77f00
    #fcbf49
    #eae2b7
*/

body{
    background-image: url(..);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    background-color: #EAE2B7;
    border-bottom: 8px solid #003049;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.logo{
    display: block;
    justify-content: center;
    text-align: center;
}

.img_logo{
    width: 15%;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #D62828;
    padding: 0.5%;
}

.col-3{
    justify-content: space-between;
    width: calc(20% - 10px);
    padding: 7px;

    box-sizing: border-box;

    border: 5px, #F77F00, outset;

    background-color: #FCBF49;
}

h6{
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
}

.col-3:hover{
    background-color: #F77F00;
    border: 5px, #FCBF49, inset;
}

.cards1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    background-color: #F77F00;
    padding: 2%;
    border-radius: 20px;
}

.card1{
    width: calc(20% - 15px);
    box-sizing: border-box;
    background-color: #003049;
    padding: 20px;
    border: 5px, outset;
    border-radius: 15px;
}

.img_card{
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.txt_cards{
    color: white;
    text-align: center;
    font-family: 'Pixelify Sans';
}

.p_cards{
    margin-top: 1%;
    font-family: 'Ubuntu';
    color: white;
}

.card1:hover{
    background-color: #D62828;
    border: inset, #EAE2B7, 5px;
}

.sec_2{
    background-color: #D62828;
    margin-top: 15px;
}

h1{
    color: white;
    font-family: 'Pixelify Sans';
    font-size: 2rem;
}

.h1_illustra{
    margin-left: 18%;
    margin-top: 3.5%;
}

.gm_illustra{
    float: right;
    width: 60%;
    margin-left: 1%;
}

.p_illustra{
    margin-left: 1%;
    font-family: 'Ubuntu';
    color: white;
    font-size: 1.7rem;
    margin-top: 2%;
    text-align: center;
}

.clearflix{
    overflow: auto;
}

.sec_3{
    background-color: #003049;
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 3.5%;
}

.card{
    position: relative;
    /*margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;*/
    box-sizing: border-box;
    width: calc(33.33% - 20px);
    border-radius: 7px;
    margin-top: 3%;
}


.h6_card{
    position: absolute;
    text-align: center;
    color: white;
    background-color: #D62828;
    padding: 1%;
    bottom: 20%;
    right: 30%;
    left: 30%;
}

.img_card1{
    border-radius: 7px;
    width: 100%;
    
}

.img_card1:hover{
    border: 3px outset #F77F00;
    width: calc(100% - 3px);
    transition: .1s;
}

.h5_card{
    font-size: 1.2rem;
    font-family: 'Ubuntu';
    position: absolute;
    background-color: #003049;
    color: white;
    text-align: center;
    padding: 7%;
    top: 80%;
    right: 10%;
    left: 10%;
}

.rod{
    padding: 2%;
    margin-top: 2%;
    background-color: #F77F00;
}


.rod_h2{
    text-align: center;
    margin-left: 10%;
    width: calc(45% - 5%);
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-size: 1.5rem;
}

.img_logo_rod{
    float: right;
    width: 15%;
}

.sc_4{
    background-color: #F77F00;
    margin-right: 40%;
}

.h1_sc4{
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.p_sc4{
    font-family: 'Ubuntu';
    font-size: 1.4rem;
    margin-top: 3%;
    text-align: center;
    margin-left: 5%;
}

.float_sc4{
    margin-left: 5%;
    float: right;
    width: 25%;
}

.sec_form{
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
    background-color: #003049;
}

.form_login{
    color: white;
    font-family: 'Pixelify Sans';
    font-size: 1.2rem;
    margin-left: 2%;
}

.input_cont{
    margin: 10px 0px 10px 0px;
    align-items: center;
    width: 100%;
    padding: 1%;
    /*Faz com que a caixa fique dentro da section*/
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    border: 3px outset #FCBF49;
}

.sub_cont{
    font-size: 1.1rem;
    width: 100%;
    padding: 1.2%;
    background-color: #d62828;
    color: white;
    font-family: 'Ubuntu';
    border-radius: 10px;
    border: 3px, outset;
    margin-top: 2%;
}

.sub_cont:hover{
    background-color: #791919;
    border: 3px, inset;
}

.input_select{
    width: 100%;
    padding: 1.5%;
    border-radius: 10px;
    margin-top: 1%;
    border: 3px outset #FCBF49;
}

.input_select:hover{
    background-color: #eae2b7;
    border: 3px inset #FCBF49;
}

.input_cont:hover{
    background-color: #eae2b7;
    border: 3px inset #FCBF49;
}

.h1_form{
    font-size: 2.5rem;
    text-align: center;
}


.fnaf_into_the_pit{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img_banner{
    width: 100%;
}

.logo_banner{
    position: absolute;
    left: 1%;
    top: 26%;
}

.banners{
    position: relative;
}

.logo_fnaf_pit{
    width: 45%;
}


@media screen and (max-width: 992px) {
    .card1{
        width: calc(50% - 20px);
        margin-bottom: 2%;
    }
    .card{
        width: calc(50% - 15px);
        margin-bottom: 2%;
    }
}


@media screen and (max-width: 500px) {
    .card1{
        width: 100%;
        margin-bottom: 2%;
    }
    .card{
        width: 100%;
        margin-top: 10%;
    }
    .cards{
        margin-bottom: 2%;
    }
    .img_logo{
        width: 30%;
    }
}

