body{
    background-image: url(../img/25ac7398f3b5522cd13f89570710389d455306dar1-450-267v2_uhq\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header{
    background-color: #C05299;
    padding: 0.25%;
    position: fixed;
    z-index: 2;
}

.img_logo{
    width: 12.5%;
    margin-left: 43.75%;
    margin-right: 43.75%;
}

.logo{
    padding: 1%;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.col-3{
    justify-content: space-between;
    width: calc(20% - 10px);
    padding: 15px;
    background-color: #240046;
    box-sizing: border-box;
}

h6{
    font-size: 90%;
    text-align: center;
    color: white;
    font-family: "Kanit", sans-serif;
}

.img_banner{
    margin-top: 12%;
    width: 100%;
}

.sc1{
    width: 70%;
    padding: 3%;
    background-color: #240046;
    margin-right: 30%;
}

.sc2{
    width: 70%;
    padding: 3%;
    background-color: #f6f0e0;
    margin-left: 30%;
}

.sc3{
    padding: 3%;
    width: 100%;
    background-color: #240046;
}

.sc4{
    padding: 3%;
    width: 100%;
    background-color: #f6f0e0;
}

.sc5{
    padding: 3%;
    width: 100%;
    background-color: #240046;
}

.sc6{
    padding: 3%;
    width: 100%;
    background-color: #f6f0e0;
}

table{
    width: 100%;
}

td, th{
    border: 2px black solid;
    text-align: center;
}

th {
    background-color: #D62828;
    color: white;    
}

tr:hover {background-color: #b36ef3;}


.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.card{
    width: calc(33.33% - 15px);
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.img_card{
    width: 100%;
}

h5{
    text-align: center;
    color: white;
    margin-bottom: 3%;
    font-family: "Kanit", sans-serif;
}

h1{
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 150%;
    margin-bottom: 1%;
    margin-top: 0.8%;
}

main{
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    text-indent: 18px; /*Espaço no inicio do paragrafo*/
    line-height: 1; /*espaçamento entre as linhas*/
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Fira sans", sans-serif;
    text-align: 120%;
}

.white{
    color: white;
    margin-bottom: 3%;
}

.paragraph_w{
    color: white;
}

.paragraph_b{
    color: black
}

.paragraph_quote{
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: "Roboto", sans-serif;
    color: white;
}

.quote{
    text-indent: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1%;
    text-align: 99%;
}

.link{
    color: white;
    font-family: "Manrope", sans-serif;
    text-decoration: underline 1px; /*sublinhado abaixo do texto*/
}

.img_float_right{
    float: right;
    width: 30%;
    margin-left: 3%;
}

.img_float_left{
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 2%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.galeria{
    justify-content: space-between;
    display: flex;
    flex-wrap: row wrap;
    margin: 15px;
}

.pic{

    box-sizing: border-box;
    padding: 1%;
    width: calc(25% - 15px)
}

.img_gal{
    width: 100%;
}

legend{
    margin-top: 1%;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 110%;
}

.le_gale_w{
    color: white;
}

.le_gale_b{
    color: black;
}

footer{
    margin-top: 1%;
    padding: 1%;
    background-color: #240046;
}

li{
    list-style-type: none;
    font-family: "Fira sans", sans-serif;
    text-indent: 18px;
    margin-bottom: 1.5%;
}

.img_map {
    width: 100%;
}

.container {
    position: relative;
  }

.lobby {
    color: white;
    padding: 0.5%;
    background-color: #D62828;
    position: absolute;
    top: 28%;
    left: 45.5%;
    font-size: 18px;
  }

.teatro {
    color: white;
    padding: 0.5%;
    background-color: #D62828;
    position: absolute;
    bottom: 27%;
    left: 45.5%;
    font-size: 18px;
}

.alley {
    color: white;
    padding: 0.5%;
    background-color: #D62828;
    position: absolute;
    top: 36%;
    left: 8%;
    font-size: 18px;
}

.depr_ro {
    color: white;
    padding: 0.5%;
    background-color: #D62828;
    position: absolute;
    top: 22%;
    right: 12%;
    font-size: 18px;
}

.stage {
    color: white;
    padding: 0.5%;
    background-color: #D62828;
    position: absolute;
    top: 16%;
    left: 45.5%;
    font-size: 18px;
}

@media screen and (max-width: 720px) {
    .card{
        width: calc(50% - 20px);
    }
    .sc1{
        width: 100%;
        padding: 3%;
        background-color: #240046;
        margin-right: 0%;
    }
    
    .sc2{
        width: 100%;
        padding: 3%;
        background-color: #f6f0e0;
        margin-left: 0%;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: calc(100%);
    }
    .col-3{
        width: 100%;
    }
    .img_logo{
        width: 20%;
        margin-left: 40.5%;
        margin-right: 40.5%;
    }
    .img_banner{
        margin-top: 60%;
        width: 100%;
    }
    
}


@media screen and (max-width: 1805px) {
    .galeria{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-wrap: row wrap;
    }
}

@media screen and (max-width: 1805px) {
    .galeria{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-wrap: row wrap;
    }
}