body{
    background-image: url(../img/25ac7398f3b5522cd13f89570710389d455306dar1-450-267v2_uhq\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.header{
    background-color: #C05299;
    padding: 2%;
}

.img_logo{
    width: 10%;
}

.img_banner{
    width: 100%;
    position: center;
}

.sc1{
    width: 70%;
    padding: 2.3%;
    background-color: #240046;
}

.sc2{
    width: 70%;
    padding: 2.3%;
    background-color: #f6f6f6;
    float: right;
}

.sc3{
    width: 100%;
    background-color: #f6f0e0;
}



.sc6{
    width: 100%;
    background-color: #f6f0e0;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}

.card{
    width: calc(33.33% - 10px);
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}

h1{
    padding: 1%;
    font-family: "Kanit", sans-serif;
    text-align: center;
    font-size: 130%;
    margin-bottom: 1%;
    margin-top: 0.1%;
}



main{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    text-indent: 18px; /*Espaço no inicio do paragrafo*/
    line-height: 1.1; /*espaçamento entre as linhas*/
    margin-bottom: 2%;
    font-family: "Fira sans", sans-serif;
    text-align: 120%;
}

.white{
    color: white;
}

.paragraph{
    color: white;
}

.paragraph_quote{
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: "Roboto", sans-serif;
    color: white;
}

.quote{
    text-indent: 15px;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1%;
    text-align: 99%;
}

.link{
    color: white;
    font-family: "Manrope", sans-serif;
    text-decoration: underline 1px; /*sublinhado abaixo do texto*/
}

.img_float_right{
    float: right;
    width: 30%;
    margin-left: 1%;
}

.img_float_left{
    float: left;
    width: 35%;
    margin-right: 1%;
}

.clearfix{
    overflow: auto;
}



@media screen and (max-width: 768px) {
    .sc1{
        margin-left: 2%;
        margin-right: 1%;
        width: 93%;
        padding: 5%;
    }
    
    .img_float_right{
        float: right;
        width: 40%;
        margin-left: 2%;
    }

    .sc2{
        margin-left: 2%;
        margin-right: 1%;
        width: 93%;
        padding: 5%;
    }

    .sc6{
        width: 100%;
    }
}